<h2>About VeVe</h2>
<p>VeVe is a modern wardrobe management application that will allow you to take pictures of the items in your closet and reference them later on your computer or mobile phone. Once you upload some pictures of items in your closet on VeVe, you&rsquo;ll then be able to easily carry your &ldquo;virtual closet&rdquo; anywhere and everywhere. <a href="/signup">Create an account</a> and start organizing with VeVe today!</p>
<p>This application was created and designed by <a href="https://github.com/annatly2">Anna Ly</a>, <a href="https://github.com/SuperBerny">Brian Patrick</a>, <a href="https://github.com/chelseymarie6">Chelsey Dolan</a>, and <a href="https://github.com/quells">Kai Wells</a>.</p>
