<h2 class="text-center">{{capitalize metaTags.title}} Closet</h2>
<div class="row justify-content-center" id="clothes">
	<div class="col-xs-2 m-1">
		<div class="card">
			<div class="card-body text-center">
				<a href="#" onclick="">
					<img class="card-img-top img-fluid" id="addIcon" src="/assets/img/plus.png" alt="outfit image">
				</a>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
function ready() {
  $("#closetsTab").addClass("active bg-info");
  var clothes = [];

  function newCard(id, img, content) {
    var col = $("<div class='col-xs-2 m-1 clothes-card-wrapper'>");
    var card = $("<div class='card'>").attr("id", id).appendTo(col);
    var body = $("<div class='card-body text-center'>").appendTo(card);
    var img = $("<img class='card-img-top img-fluid garment-image'>").attr({id: `${id}-img`, src: img}).appendTo(body);
    body.append(content);
    return col;
  }

  function drawCards() {
    $(".clothes-card-wrapper").remove();
  }

  drawCards();
}
</script>
