<div class="container" id="apiContainer">
    <div class="row justify-content-center" id="outfitRow">
        {{!-- <div class="col-xs-2 m-1">
            <div class="card" id="addClothesButton">
                <div class="card-body text-center">
                    <img class="card-img-top img-fluid" id="outfit-icon" src="#" alt="outfit image">
                    <div class="col-xs-2 mt-2">
                        <button type="button" class="btn btn-info mt-3" id="addOutfitButton">Add New Outfit</button>
                    </div>
                </div>
            </div>
        </div> --}}

    </div>
</div>


<!-- Add Clothing Modal -->
<div class="modal fade bd-modal-lg" id="clothingModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="container">
                <form id="clothingForm">
                    <div class="form-group row">
                        <div class="input-group m-2">
                            <input type="text" id = "item-name" class="form-control" placeholder="Title" aria-describedby="basic-addon1">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="input-group m-2">
                            <input type="text" id = "item-description" class="form-control" placeholder="Description" aria-describedby="basic-addon1">
                        </div>
                    </div>

                    <div class="form-group row">
                            <div class="input-group m-2">
                                <select id = "item-category" class="form-control">
                                    <option>Select a Clothing Category&hellip;</option>
                                    <option>Headwear</option>
                                    <option>Tops</option>
                                    <option>Outerwear</option>
                                    <option>Bottoms</option>
                                    <option>Shoes</option>
                                </select>
                            </div>
                    </div>

                    <div class="form-group row">
                            <div class="input-group m-2">
                                <select id = "item-closet" class="form-control">
                                    <option>Select a Closet Type&hellip;</option>
                                    <option>Active</option>
                                    <option>Casual</option>
                                    <option>Formal</option>
                                    <option>Work</option>
                                    <option>Other</option>
                                </select>
                            </div>
                    </div>

                    <div class = "form-group row m-2">
                        <div class = "input-group">
                            <input class = "form-control" id = "selectFile" type = "file" accept="image/*">
                        </div>
                    </div>
                    <div class="form-group row m-2">
                        <div class="col-12 text-center">
                            <!-- This button will activate the add clothing modal WITHOUT JavaScript -->
                            <!-- <button type="button btn-info" class="btn btn-info mt-4" data-toggle="modal" data-target="#successModal">Add Clothing</button> -->
                            
                            <!-- This button will activate the add clothing modal WITH JavaScript -->
                            <button type="button" class="btn btn-info mt-4" id="submitClothing">Add Clothing</button>
                        </div>
                    </div>
                </form>
            </div>


          </div>
        </div>

        <!--Clothing Modal closer -->
      </div>

    <!-- Create Outfit Modal -->
<div class="modal fade bd-modal-lg" id="createOutfitModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="container">
                <form id="clothingForm">
                    <div class="form-group row">
                        <div class="input-group m-2">
                            <input type="text" class="form-control" placeholder="Title" aria-describedby="basic-addon1">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="input-group m-2">
                            <input type="text" class="form-control" placeholder="Description" aria-describedby="basic-addon1">
                        </div>
                    </div>
                    <div class="form-group row m-2">
                        <div class="col-12 text-center">
                            <!-- This button will activate the add clothing modal WITHOUT JavaScript -->
                            <!-- <button type="button btn-info" class="btn btn-info mt-4" data-toggle="modal" data-target="#successModal">Add Clothing</button> -->
                            
                            <!-- This button will activate the add closet modal WITH JavaScript -->
                            <button type="button" class="btn btn-info mt-4" id="submitOutfit">Add Outfit</button>
                        </div>
                    </div>
                </form>
            </div>


          </div>
        </div>

        <!--Outfit Modal closer -->
      </div>
    
<!-- View Outfit Modal -->
<div class="modal fade bd-modal-lg" id="viewOutfitModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="container">
                <form id="clothingForm">
                    <div class="form-group row">
                        <div class="input-group m-2">
                            <input type="text" class="form-control" placeholder="Title" aria-describedby="basic-addon1">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="input-group m-2">
                            <input type="text" class="form-control" placeholder="Description" aria-describedby="basic-addon1">
                        </div>
                    </div>
                    <div class="form-group row m-2">
                        <div class="col-12 text-center">
                            <p>This button could be a place where users modify their selected outfit by choosing from the collection of clothing images they have uploaded.</p>
                            <button type="button" class="btn btn-info mt-4" id="modifyOutfit">Modify</button>
                        </div>
                    </div>
                </form>
            </div>
          </div>
        </div>
        <!--Closet Modal closer -->
</div>

<script>
function ready() {

var token = getLocalAccessToken();
var fileInput = $("#selectFile");
var clothingTitle = $("#item-name");
var clothingDescription = $("#item-description");
var clothingCategory = $("#item-category");
var closetType = $("#item-closet");
    $("#submitClothing").click(function() {
    //$("#clothingModal").modal('hide');
    var newClothes = {
        name: clothingTitle.val().trim(),
        category: clothingCategory.val().trim(),
        description: clothingDescription.val().trim(),
        closet: closetType.val().trim()
    }
    for (var key in newClothes) {
        $("#item-" + key).removeClass("is-invalid");
    }
    if (clothingCategory.prop("selectedIndex") === 0){
        newClothes.category = "Other";
    }
    if(closetType.prop("selectedIndex") ===0){
        newClothes.closet = "Other";
    }
    for (var key in newClothes) {
        var prop = newClothes[key];
        if(prop.length < 1){
            $("#item-" + key).addClass("is-invalid");
        }
    }
    console.log(newClothes)
    return
    $.ajax({
        data: newClothes,
        method: "POST",
        url: "/api/clothes",
        beforeSend: setAccessTokenHeader(token)
    })
    .done(function(response) {
        console.log(response);
        
        setTimeout(function() {
            $("#clothingSuccessModal").modal('show');
        }, 100)
    })
    .fail(function() {
        alert("oops")
    })
});
$("#addOutfitButton").click(function(e){
        $('#createOutfitModal').modal('show');
    });
 
$('#submitOutfit').click(function(e){
    event.preventDefault();
 
  var outfitImage = ('<img class="card-img-top img-fluid" id="outfit-icon" src="../assets/img/plus.png" alt="outfit image">');
  var outfitTitle = ('<h4 class="card-title">Outfit 1</h4>');
  var createdOutfit = ('<div class="col-xs-2 m-1" id="outfitColumn"><div class="card"><div class="card-body text-center">' + outfitImage + outfitTitle + '<a href="#" id="viewOutfit" class="btn btn-info outfitButtons">View</a><a href="#" id="deleteOutfit" class="btn btn-info outfitButtons">Delete</a></div></div></div>');
  $('#outfitRow').append(createdOutfit);
});
$(document).on('click', '#outfitColumn', function(e){
    $(this).remove();
});
$(document).on('click', '#viewOutfit', function(e){
    window.location.href="currentoutfit.html";
});
    

//ajax call to shopstyle collective for outfit suggestions
//=========================================================================
var apiKey = "uid9401-40128451-70";
var randomOffset = Math.floor(Math.random() * 3000) + 1;


//womens clothing ajax call
//=========================================================================
$.ajax({
   url: "http://api.shopstyle.com/api/v2/products?pid=" + apiKey + "&cat=womens%20clothes&offset="+ randomOffset + "&limit=8",
   method: "GET",
})
.done(function(response) {
   console.log(response);

   var container = $('#apiContainer');
   var row = $('#apiCardRow').appendTo(container);
   var col = $("<div class='col-xs-2 m-1'>").appendTo(row);
   var card = $("<div class='card' id='apiCard'>").appendTo(col);
   var cardBody = $("<div class='card-body text-center'>").appendTo(card);

  

   var outfitRow = $('#outfitRow');
   for(var i = 0; i < response.products.length; i++) {
      var col = $("<div class='col-xs-2 m-1'>").appendTo(outfitRow);
      var card = $("<div class='card' id='apiCard'>").appendTo(col);
      var cardBody = $("<div class='card-body text-center'>").appendTo(card);
      var cardLink = $(`<a class='imgLink' target="_blank" href='${response.products[i].clickUrl}'>`).appendTo(cardBody);
      var cardImage = $(`<img class='card-img-top' id='apiCardImg' src='${response.products[i].image.sizes.Large.url}' alt='api image'>`).appendTo(cardLink);
      var endCard = $(cardImage.append('#apiContainer'));
   }
});


//mens clothing ajax call
//=========================================================================
$.ajax({
   url: "http://api.shopstyle.com/api/v2/products?pid=" + apiKey + "&fts=mens%20clothing&offset=" + randomOffset + "&limit=8",
   method: "GET"
})
.done (function(response1) {
   console.log(response1);
   console.log(response1.products[3].clickUrl);

   var container = $('#apiContainer');
   var row = $('#apiCardRow').appendTo(container);
   var col = $("<div class='col-xs-2 m-1'>").appendTo(row);
   var card = $("<div class='card' id='apiCard'>").appendTo(col);
   var cardBody = $("<div class='card-body text-center'>").appendTo(card);

   var outfitRow = $('#outfitRow');
   for(var i = 0; i < response1.products.length; i++) {
      var col = $("<div class='col-xs-2 m-1'>").appendTo(outfitRow);
      var card = $("<div class='card' id='apiCard'>").appendTo(col);
      var cardBody = $("<div class='card-body text-center'>").appendTo(card);
      var cardLink = $(`<a class='imgLink' target="_blank" href='${response1.products[i].clickUrl}'>`).appendTo(cardBody);
      var cardImage = $(`<img class='card-img-top' id='apiCardImg' src='${response1.products[i].image.sizes.Large.url}' alt='api image'>`).appendTo(cardLink);
      var endCard = $(cardImage.append('#apiContainer'));
   }
   
});


}
</script> 