<div class="container">
<<<<<<< HEAD
   <h1><span id="usernameSpan"></span>'s Profile Page</h1>

</div>
<script type="text/javascript">
   function ready() {
      automaticTokenCheck();
      var token = getLocalAccessToken();
   
   $('#test').ready(function() {
         
      $.ajax({
      url: "/api/username",
      method: "GET",
      beforeSend: setAccessTokenHeader(token)
      })
      .done (function(response){
      console.log(response.username);
      var username = (response.username);
      $('#usernameSpan').append(username);
      });
   
   });
   
   //ready function closer
   };//ready function closer
   //ready function closer
   
</script>
=======
  <h1><span id="usernameSpan"></span>'s Profile Page</h1>

</div>
<script type="text/javascript">
function ready() {
  $("#profileTab").addClass("active bg-info");
  automaticTokenCheck();
  var token = getLocalAccessToken();

  $.ajax({
    url: "/api/username",
    method: "GET",
    beforeSend: setAccessTokenHeader(token)
  })
  .done (function(response){
    console.log(response.username);
    var username = (response.username);
    $('#usernameSpan').append(username);
  });
}
</script>
>>>>>>> e0017288de0b879ffd2fbe9792597a59fc080160
