<div class="container">
   <h1><span id="usernameSpan"></span>'s Profile Page</h1>

</div>

          <!-- COLLECTIVE WIDGET CODE START --> <div class="shopsense-widget" style="text-align:center" data-mobile-optimize="true" data-options="%7B%22widgetId%22%3A%225a1b2c83e7055a9f58691204%22%2C%22version%22%3A1%2C%22pid%22%3A%22uid9401-40128451-70%22%2C%22size%22%3A200%2C%22columns%22%3A3%2C%22rows%22%3A1%2C%22url%22%3A%22https%3A%2F%2Fapi.shopstyle.com%2Fapi%2Fv2%22%2C%22iframeHeight%22%3A275%2C%22iframeWidth%22%3A705%7D"> <script> !function(doc,s,id){ var e, p, cb; if(!doc.getElementById(id)) { e = doc.createElement(s); e.id = id; cb = new Date().getTime().toString(); p = '//shopsensewidget.shopstyle.com/widget-script.js?cb=1511730150712?cb=' + cb; e.src = p; doc.body.appendChild(e); } if(typeof window.ss_shopsense === 'object'){ if(doc.readyState === 'complete'){ window.ss_shopsense.init(); } } }(document, 'script', 'shopsensewidget-script'); </script> <iframe src="//shopsensewidget.shopstyle.com/#/?options=%7B%22widgetId%22%3A%225a1b2c83e7055a9f58691204%22%2C%22version%22%3A1%2C%22pid%22%3A%22uid9401-40128451-70%22%2C%22size%22%3A200%2C%22columns%22%3A3%2C%22rows%22%3A1%2C%22url%22%3A%22https%3A%2F%2Fapi.shopstyle.com%2Fapi%2Fv2%22%2C%22iframeHeight%22%3A275%2C%22iframeWidth%22%3A705%7D"
  height="275px"
  width="705px"
  frameborder="0"
  seamless style="border: 0;">
</iframe> </div> <!-- COLLECTIVE WIDGET CODE END -->
        

<script type="text/javascript">
   function ready() {
      automaticTokenCheck();
      var token = getLocalAccessToken();
   
   $('#test').ready(function() {
         
      $.ajax({
      url: "/api/username",
      method: "GET",
      beforeSend: setAccessTokenHeader(token)
      })
      .done (function(response){
      console.log(response.username);
      var username = (response.username);
      $('#usernameSpan').append(username);
      });
   
   });
   
   
   
      
   //ready function closer
   };//ready function closer
   //ready function closer
   
        </script>