<div class="container">
  <h2 class="text-center">Suggestions From Shopstyle</h2>
  <div class="row justify-content-center" id="shopstyleContainer"></div>
  <div class="text-center mt-4">
    <button type="button" class="btn btn-info" id="loadMore">Load More</button>
  </div>
</div>

<script>
function ready() {
  $("#shopTab").addClass("active bg-info");
  var token = getLocalAccessToken();

  loadSuggestions();

  //ajax call to shopstyle collective for shopping suggestions
  //=========================================================================
  function getShopstyleImages(category, callback) {
    var apiKey = "uid9401-40128451-70";
    var randomOffset = Math.floor(Math.random() * 3000) + 1;
    var apiURL = `https://cors-anywhere.herokuapp.com/api.shopstyle.com/api/v2/products?pid=${apiKey}&cat=${category}&offset=${randomOffset}&limit=8`;
    $.get(apiURL)
     .done(callback)
  }

  function drawCard(image, link) {
    var container = $('#shopstyleContainer');
    var col = $("<div class='col-xs-2 m-1'>").appendTo(container);
    var card = $("<div class='card shopstyleCard'>").appendTo(col);
    var cardBody = $("<div class='card-body text-center'>").appendTo(card);
    var cardLink = $("<a class='shopstyleLink' target='_blank'>").attr("href", link).appendTo(cardBody);
    var cardImage = $(`<img class='card-img-top shopstyleCardImg'>`).attr("src", image).appendTo(cardLink);
  }

  var products = [];
  var apiFlags = 0;
  var apiCallCount = 2;

  function loadSuggestions() {
    getShopstyleImages("men", handleResponse);
    getShopstyleImages("women", handleResponse);
  }

  function handleResponse(response) {
    for (var i = 0; i < response.products.length; i++) {
      var product = response.products[i];
      products.push({
        image: product.image.sizes.Large.url,
        link: product.clickUrl
      });
    }
    // Draw after both responses have returned
    apiFlags++;
    if (apiFlags === apiCallCount) {
      products = shuffle(products);
      for (var i = 0; i < products.length; i++) {
        var p = products[i];
        drawCard(p.image, p.link);
      }
      products = [];
      apiFlags = 0;
    }
  }

  $("#loadMore").click(function() {
    loadSuggestions();
  })
}
</script>
