/* Sticky Footer */
html, body { height: 100%; }
body { display: flex; flex-direction: column; }
main { flex: 1 0 auto; }
footer { margin-top: 2rem; padding-top: 1rem; padding-bottom: 1rem;}

/* Design */

header,
.card {
	box-shadow: 0px 5px 5px lightgrey;
}

.nav-item a.active {
	border-bottom: 0;
}

footer .container a {
	padding-left: 10px;
	padding-right: 10px;
}

footer .container a:not(:first-child) {
	border-left: 1px solid white;
}

/* Closets */

#addClothesCard {
	height: 312px;
}

.closet-icon,
.outfit-icon,
#outfit-icon,
#addIcon {
	height: 192px;
	width: 192px;
}

#apiCardImg {
	max-height: 192px;
	max-width: 192px;
}

.garment-image {
	max-width: 192px;
}

.category-icon {
	width: 16px;
	height: 16px;
}

.outfit-buttons {
	margin: 0 0.15rem 0 0.15rem;
}


.bg-info {
	transition: transform 0.6s cubic-bezier(0.4, 0, 0.2, 1);
	background: #00a1bf;
	background: -moz-linear-gradient(left, rgba(0, 161, 191, 1) 0%, rgba(0, 202, 221, 1) 100%);
	background: -webkit-linear-gradient(left, rgba(0, 161, 191, 1) 0%, rgba(0, 202, 221, 1) 100%);
	background: linear-gradient(to right, rgba(0, 161, 191, 1) 0%, rgba(0, 202, 221, 1) 100%);
}

#uploadImg {
	max-width: 300px;
	max-height: 300px;
}

@media only screen and (min-width: 768px) {
	/* For desktop: */
	.closet-icon,
	.outfit-icon,
	#outfit-icon,
	#addClothesCard-img {
		height: 256px;
		width: 256px;
	}

	#apiCardImg {
		max-height: 256px;
		max-width: 256px;
	}

	.garment-image {
		max-width: 256px;
	}

	.add-clothes-button {
		height: 376px;
	}

	.category-icon {
		width: 24px;
		height: 24px;
	}
}
